aclocal.m4
config.status
configure
COPYING
Makefile
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
CDM_v2.12.36.4_WHQL_Certified/i386/Makefile.am.bak
inc/config.h.in
inc/config.h.in~
inc/stamp-h1
*.o
*.log
*.Po
*.in
*.TPo
autom4te.cache/output.2
autom4te.cache/traces.2
build-aux/config.guess~
build-aux/config.sub~
INSTALL
Makefile.in
